{
  "extends": "react-app",
  "globals": {
    "chrome": "readonly"
  },
  "ignorePatterns": [
    "node_modules/**",
    "."
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
